<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>No title specified</title>
        {% endif %}
        
        <meta charset="utf-8">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../static/css/stylesheet.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" type="text.css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if request.path == '/' or request.path == '/register' %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}text-light disabled{% endif %}" href="/">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/register' %}text-light disabled{% endif %}" href="/register">Register</a>
                    </li>
                </ul>
            </div>
            {% else %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/home' %}text-light disabled{% endif %}" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/module_list' %}text-light disabled{% endif %}" href="/module_list">Module List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/create_module' %}text-light disabled{% endif %}" href="/create_module">Create Module</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </nav>
        <b-container>
            <b-row>
                {% with messages = get_flashed_messages() %}
          				{% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                            {% endfor %}
          				{% endif %}
        			{% endwith %}
                {% block content %}{% endblock %}
            </b-row>
        </b-container>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="../static/js/cookies.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.js"></script>
    </body>
</html>