{% extends "base.html" %}
{% block content %}
<div class = "container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-center">Your Modules</h2>
            {% if moduleCheck == True %}
                {% for module in created %}
                    <div class="container-fluid p-3 my-3 bg-light">
                        <h2 class="text-center">{{ module.module_code }} {{ module.title }}</h2>
                        <form action="/delete_module" method="post" class="d-inline">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="id" value="{{ module.id }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </div>
                {% endfor %}
                {% for module in enrolled %}
                    <div class="container-fluid p-3 my-3 bg-light">
                        <h2 class="text-center">{{ module.module_code }} {{ module.title }}</h2>
                        <form action="/leave_module" method="post" class="d-inline">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="id" value="{{ module.id }}">
                            <input type="submit" class="btn btn-danger" value="Leave">
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <br><p class="text-center">No modules to display, join <a href="/module_list">here</a>.</p>
            {% endif %}

        </div>
        <div class="col-12 col-md-6">
            <h2 class="text-center">Messages</h2>
            <form action="/new_message" method="post" role="form" name="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="submit" class="btn btn-primary" value="New Message">
            </form><br>
            <form action="/home" method="post" role="form" name="form" class="text-center">
                <select name="module">
                    <option value="All">All</option>
                    {% for module in created %}
                        <option value="{{ module.id }}">{{ module.module_code}}:  {{ module.title }}</option>
                    {% endfor %}
                    {% for module in modules %}
                        <option value="{{ module.id }}">{{ module.module_code}}: {{ module.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filter Modules</button>
            </form>
            
            {% for message in messages %}
            <div class="container-fluid p-3 my-3 bg-light">
                <h2>{{ message.title }}</h2>
                <p>
                    Sent by: {{ message.sender }}<br>
                    Sent at: {{message.time.strftime("%H:%M") }} on {{ message.time.strftime("%d/%m/%y") }}
                </p>
                <hr>
                <p>{{ message.message }}</p>  
                
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" class="vote btn-success" data-id="{{ message.id }}" data-vote_type="up">
                        <span vote_type="up" id="upvotes"> {{ message.upvotes }} </span></button>
                    <button type="submit" class="vote btn-danger" data-id="{{ message.id }}" data-vote_type="down">
                        <span vote_type="down" id="downvotes"> {{ message.downvotes }}</span></button>

                {% if message.sender == user %}
                    <form action="/delete_message" method="post" role="form" name="form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="id" value="{{ message.id }}">
                        <input type="submit" class="btn btn-primary" value="Delete">
                    </form>
                {% endif %}
            </div>
            {% else %}
                <br><p class="text-center">No messages to display.</p>
            {% endfor %}
        </div>
    </div>
</div>
<script src="../static/js/vote.js"></script>
{% endblock %}