{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="col-12 col-md-8 col-center">
        <h1 class="text-center">Register</h1>
        <form action="/register" method="post" role="form" name="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Register">
        </form>
    </div>
</div>
{% endblock %}